---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
background-color: none;
background-image:url('../chrome/hack.gif')
background-attachment: fixed 
}

